{{!-- <li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{!-- {{#if devoured}}SLEEP TIME!{{else}}WAKE UP!{{/if}} --}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE</button>
</li> --}}
